{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
<h1>Liste des étudiants </h1>
    <ul>
    {% for student in students %}
        <li>{{student}}</li>
    {% endfor %}
    </ul>
{% endblock %}
