{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>Bienvenue sur SESSION 
    {% if app.user %}
    "{{ app.user.pseudo }}"
    {% endif %}       
</h1>
<p>SESSION, l'app qui vous facilite la vie</p>
{% endblock %}
