{% extends 'base.html.twig' %}

{% block title %}Hello TeacherController!{% endblock %}

{% block body %}
<h2>Ajouter un prof</h2>
    {{ form(formAddTeacher)}}
<h1>Liste des profs </h1>
    <ul>
        {% for teacher in teachers %}
            <li>{{teacher}}</li>
        {% endfor %}
    </ul>
{% endblock %}
