{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<h2>Ajouter une catégorie</h2>
    {{ form(formAddCategory) }}
<h1>Liste des catégories</h1>
{% if categories|length >= 1 %}
    
    {% for category in categories %}
    <a href="{{ path('show_category', {'id': category.id}) }}">{{ category.name }}</a>
    <a href="{{ path('remove_category', {'id':category.id}) }}">suppr</a><br>

    {% endfor %}
{% else %}
    <p>Aucune catégories existantes.</p>
{% endif %}

{% endblock %}

