{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<h2>Ajouter une catégorie</h2>
    {{ form(formAddCategory) }}
<h1>Liste des catégories</h1>
{% if categories|length >= 1 %}
    
<table>
    <thead class="table">
        <tr>
            <th colspan="2">Liste des catégories</th>
        </tr>
        <tr>
            <td>Nom</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody class="table">
            {% for category in categories %}
                <tr class="clickable-row" onclick="window.location='{{ path('show_category', {'id': category.id}) }}'">
                    <td >{{ category.name }}</td>
                    <td><a class="button-delete" href="{{ path('remove_category', {'id': category.id}) }}">suppr</a></td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucune catégories existantes.</p>
{% endif %}

{% endblock %}

