{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<div class="upper">
<h2>Ajouter une catégorie</h2>
    {{ form(formAddCategory) }}
</div>
<div class="lower">
{% if categories|length >= 1 %}
    
<table>
    <thead class="table">
        <tr>
            <th colspan="2"><h1>Liste des catégories</h1></th>
        </tr>
        <tr>
            <td>Nom</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody class="table">
            {% for category in categories %}
                <tr class="clickable-row" onclick="window.location='{{ path('show_category', {'id': category.id}) }}'">
                    <td >{{ category.name }}</td>
                    <td><a class="button-delete" href="{{ path('remove_category', {'id': category.id}) }}"><i class="fa-solid fa-trash-can"></i></a></td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucune catégories existantes.</p>
{% endif %}
</div>
{% endblock %}

