{% extends 'base.html.twig' %}

{% block title %}Hello sessionController!{% endblock %}

{% block body %}
<h2>Ajouter une session</h2>
    {{ form(formAddSession)}}
<h1>Toutes les sessions</h1>
    {% for session in sessions %}
        <a href="{{ path('show_session', {'id': session.id}) }}">
            <ul>
                <li>Nom: {{session.name}}</li>
                <li>Durée: {{session.totalDuration}} jours</li>
            </ul>
        </a><br>
    {% endfor %}
{% endblock %}
