{% extends 'base.html.twig' %}

{% block title %}Hello sessionController!{% endblock %}

{% block body %}
<h1>Liste des formations</h1>
{% for session in sessions %}
    <a href="{{ path('show_session', {'id': session.id}) }}">{{session.name}}</a><br>
{% endfor %}
{% endblock %}
