{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
<h2>Ajouter un module</h2>
{{ form (formAddModule)}}
<h1>Liste des modules toutes catégories</h1>
{% if modules|length >= 1 %}

    {% for module in modules %}
    <a href="{{ path('show_module', {'id': module.id}) }}">{{module.name}}</a>
    <a href="{{ path('remove_module', {'id':module.id}) }}">suppr</a><br>
    {% endfor %}
    
{% else %}

<p>Aucun modules enregistrés.</p>

{% endif %}


{% endblock %}
