{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<h1>Liste des utilisateurs autorisés de l'application SESSION:</h1>
{% if condition %}
    
<ul>
    {% for user in users %}
    <li>{{user.pseudo}}</li>
    {% endfor %}
</ul>
{% else %}
<p>Aucun utilisateur autorisé pour le moment.</p>
{% endif %}
{% endblock %}
